name: Publish Docker Image to the DockerHub
on:
    push:
        branches:

defaults:
  run:
    working-directory: ./java_sqs_client
jobs:
    push_to_hub:
        name: Push to dockerhub
        runs-on: ubuntu-latest
        steps:
          - name: Check out the repo
            uses: actions/checkout@v2
          - name: Log in to Docker Hub
            uses: docker/login-action@v2
            with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}

    
          - name: Build and push Docker image
            env:
              AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
              AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            run: | 
                docker build -t ${{ secrets.DOCKER_USERNAME }}/sofasqsqueue .
                rev=$(git rev-parse --short HEAD)
                docker tag ${{ secrets.DOCKER_USERNAME }}/sofasqsqueue kyppen/sofasqsqueue:$rev
                docker push ${{ secrets.DOCKER_USERNAME }}/sofasqsqueue:$rev